Q1-How do you comment code in Python? What are the different types of comments?

Ans-In Python, you can comment your code using the '#' symbol. Everything after the '#' symbol on a line is considered a comment and is ignored by the Python interpreter. Comments are used to explain the purpose of the code, make notes, or temporarily disable code.

In [ ]:
# This is a single-line comment

In [ ]:
"""
This is a multi-line comment.
It can span across multiple lines.
"""

Q2. What are variables in Python? How do you declare and assign values to variables?

Ans-In Python, variables are used to store data values. They act as containers for storing values which can be referenced and manipulated in a program.

In [ ]:
# Variable declaration and assignment
name = "John"
age = 25
salary = 5000.00
is_student = False

Q3. How do you convert one data type to another in Python?

In [ ]:
#int(): Converts a value to an integer data type. It can handle floating-point numbers, strings containing numeric characters, or even other numeric types like float or bool.

In [ ]:
num_float = 3.14

In [ ]:
num_int = int(num_float)

In [ ]:
print(num_int)

3

In [ ]:
#float(): Converts a value to a floating-point data type. It can convert integers, strings with numeric characters, or other numeric types.

In [ ]:
num_int = 5
num_float = float(num_int)

In [ ]:
print(num_float)

5.0

In [ ]:
#str(): Converts a value to a string data type. It can convert integers, floating-point numbers, Booleans, or any other data type.

In [ ]:
num_int = 10
num_str = str(num_int)

In [ ]:
print(num_str)

10

In [ ]:
#bool(): Converts a value to a Boolean data type. It can convert integers, floating-point numbers, strings, or other data types. Any value that is considered "truthy" (non-zero, non-empty, or True) will be converted to True, and "falsy" values (zero, empty, or False) will be converted to False.

In [ ]:
num_int = 0
is_true = bool(num_int)

In [ ]:
print(is_true)

False

In [ ]:
#list(), tuple(), and set(): These functions convert iterable objects like lists, tuples, or strings to their respective data types. They can also be used to create new instances of those data types.

In [ ]:
str_value = "Hello"

In [ ]:
list_value = list(str_value)

In [ ]:
print(list_value)

['H', 'e', 'l', 'l', 'o']

In [ ]:
tuple_value = tuple(str_value)

In [ ]:
print(tuple_value)

('H', 'e', 'l', 'l', 'o')

In [ ]:
set_value = set(str_value)

In [ ]:
print(set_value)

{'e', 'o', 'H', 'l'}

Q4. How do you write and execute a Python script from the command line?

In [ ]:
#1.Create Your Python Script: First, you need a Python script to run.
#2.Save Your Script: Save your Python script with a .py extension, which signifies that it's a Python source code file.
#3.Open a Terminal or Command Prompt: To execute your script, you'll need to open a terminal
#4.Navigate to the Script's Directory: Use the cd command to navigate to the directory where your Python script is located.
#5.Run the Script: Enter python filename.py

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [ ]:
#To slice a list and obtain a sub-list [2, 3] from the given list my_list = [1, 2, 3, 4, 5], you can use the indexing feature in Python. Here's the code to achieve that:

In [ ]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]

In [ ]:
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [ ]:
#In Python, complex numbers are represented using the complex data type. The imaginary unit is represented by j instead of i in Python. The syntax to define a complex number in Python is as follows:

In [ ]:
z = a + bj

In [ ]:
z1 = 3 + 2j
z2 = -1.5 + 0.5j

In [ ]:
z1 = 3 + 2j
z2 = -1.5 + 0.5j

sum = z1 + z2
product = z1 * z2
absolute_value = abs(z1)

In [ ]:
print("Sum:", sum)

Sum: (1.5+2.5j)

In [ ]:
print("Product:", product)

Product: (-5.5-1.5j)

In [ ]:
print("Absolute Value:", absolute_value)

Absolute Value: 3.605551275463989

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [ ]:
age = 25

In [ ]:
print("Age:", age)

Age: 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [ ]:
price = 9.99

In [ ]:
print(type(price))

<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [1]:
name = "Rupal Gupta"

In [2]:
print(name)

Rupal Gupta

Q10. Given the string "Hello, World!", extract the substring "World".

In [ ]:
string = "Hello, World!"
substring = string[7:12]

In [ ]:
print(substring)

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [ ]:
is_student = True

In [ ]:
print(is_student)

True